<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>1006</title>
    <head>
    <body>
    <body style="background-color:#63B1E5;">
    <h1>ENGI1006 Assignments</h1>
    
    <p><b>Homework 1:</b></p>
    <p>Homework 1 was all about getting the basics of programming down. The written 
    section taught the basics of binary and algorithms. THe programming taught list  basics.</p>
    
    <p><b>Homework 2:</b></p>
    <p>The written part of homework 2 went over sorting and searching. The programming part 
    was a physics simulation, which introduced us to  matplotlib. We also began 
    the machine learning library.</p>
    
    <p><b>Homework 3:</b></p>
    <p>The written part of homework 4 went over sets, dictionaries, and  recursion. The programming
     part of it was percolation, which thoroughly taught recursion, 
     and we kept building the machine learning library</p>
    
    <p><b>Homework 4:</b></p>
    <p>Homework 4 was out introduction to Object Oriented Programming in Python.
    We made a model class with students and a teacher.</p>
    
    <p><b>Homework 5:</b></p>
    <p>Homework 5 was the culmination of our machine learning library. We were introduced to
    many powerful resources such as pandas, seaborn, and scikit-learn.</p>

    <p> My favorite assignment by far was Homework 5. The introduction to these powerful libraries
    was stellar. The power in these are nothing short of awesome, and it makes me excited for when I use
    them again.
    <p><a href="http://127.0.0.1:5000/">back to home</a></p>
    
    </body>
</html>

