<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>1006</title>
    <head>
    <body>
    <h1> Columbia University in the City of New York — ENGI1006</h1>
    <p>My name is <b>David Cendejas</b>, welcome to my homepage for engi1006!</p>
    <img src="/static/images/resized.jpeg" alt="This is a picture of me!">
    <p> This is a picture of me! :)</p>
    <p> I have an 85% right now and I plan to major in Computer Science.</p>
    <ul>
          <li><p><a href="http://127.0.0.1:5000/assignments">These are the assignments from our 1006 class!</a></p></li>
          <li><p><a href="http://127.0.0.1:5000/myclasses">These are the courses I'm taking this semester!</a></p></li>
          <li><p><a href="https://www.reddit.com/r/leagueoflegends">This is one of my favorite subreddits!</a></p></li>
    </body>
</html>

