<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>1006</title>
    <head>
    <body>
    <body style="background-color:#63B1E5;">
    <h1> My classes this semester!</h1>
    <table style="width:100%">
          <tr>
            <th>Monday/Wednesday</th>
            <th>Tuesday/Thursday</th> 
          </tr>
          <tr>
            <td>PHYS1402 - Physics</td>
            <td>ENGL1010 - University Writing</td>
          </tr>
          <tr>
            <td>COMS3134 - Data Structures</td>
            <td>ENGI1006 - Intro to Python</td>
          </tr>
    </table>
    
    <p>My favorite class this semester was definitely Data Structures. Along with learning
        about the interesting different data structures, but it also reinforced my goal of
        wanting to major in CS. Paul Blaer is an  amazing professor who makes sure we get the best. </p>
    <p><a href="http://127.0.0.1:5000/">back to home</a></p>
    </body>
</html>

